

$color-background: hsla(206, 64%, 98%, 0.9);
$color-main: hsla(350,56%,92%,1);
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;


body {

 font-family: 'Questrial', sans-serif;
  background-color: #D1EEEE;
}
#container {

  width: 100%;
  height: 100%;
  text-align: center;
  margin:  0 auto;

 
}

.imageBreaks {
  height: 300px;
  margin-top: 100px;
}

.overlay {
  img {
    width: 300px;
        float: left;
    position: fixed;
    left: 2%;

  }
}

header {
  width: 100%;
  height: 90px;
  position: fixed;
  margin: 0;
  z-index: 1;
  background-color: hsla(0,0%,0%,0.5);



  .logoImg {
      width: 300px;
    float: left;
    position: fixed;
    left: 2%;

 }
}


.button_container {
  position: fixed;
  // top: 4%;
  right: 2%;
    top: 29px;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  
  &:hover {
    opacity: .7;
  }
  
  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }
    
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }

  }
  
  span {
  background: $color-main;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all 1s ease;
  cursor: pointer;
    
    &:nth-of-type(2) {
      top: 11px;
    }
    
    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $color-main;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .45s, visibility .65s, height .65s;
  overflow: hidden;
  
  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
    // transition:ease 1s;
    
    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;
      
      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 65px;

    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    // height: 100%; 
                     cursor: pointer;

    
    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      width: 100%;
                 cursor: pointer;

      
      a {
        display: block;
        width: 100%;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;
           cursor: pointer;
        
      

        &:hover {
          background-color: #ffffff;
           color: #9bc0dc;
        }
      }
    }
  }
}
 h1{
     padding-top: 10px;
  padding-left: 10px;
  color: hsla(350,56%,92%,1);

  }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


#home {
  height: 800px;



  h1 {
    color: $color-link;
    padding-top: 259px;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 0;
  }
   h2 {
    color: $color-link;

    font-size: 45px;
    font-weight: normal;
    margin-top: 0;
  }

}


