$color-background: hsla(206, 64%, 98%, 0.9);
$color-main: hsla(350, 56%, 92%, 1);
$color-active: #FFF;
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #7e99bc;
}
hr {
  margin: 0;
}
#container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.imageBreaks {
    height: 300px;
    margin-top: 100px;
}
.overlay {
    img {
        width: 300px;
        float: left;
        position: fixed;
        left: 2%;
    }
}
header {
    width: 100%;
    height: 70px;
    position: fixed;
display:none;
    margin: 0;
    z-index: 1;
    background-color: hsla(0, 0%, 0%, 0.8);
    .logoImg {
        width: 300px;
        float: left;
        position: fixed;
        left: 2%;
    }
}

.button_container {
    position: fixed;
    // top: 4%;
    right: 2%;
    top: 35px;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    &:hover {
        opacity: .7;
    }
    &.active {
        .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: #ffffff;

        }
        .middle {
            opacity: 0;
            background: #ffffff;

        }
        .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: #ffffff;

        }
    }
    span {
        background: #e6e6e6;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease;
        cursor: pointer;
        &:nth-of-type(2) {
            top: 11px;
        }
        &:nth-of-type(3) {
            top: 22px;
        }
    }
}

.overlay {
    position: fixed;
    background: #7e99bc;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .45s, visibility .65s, height .65s;
    overflow: hidden;
    &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
        // transition:ease 1s;
        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;

            &:nth-of-type(2) {
                animation-delay: .4s;
            }
            &:nth-of-type(3) {
                animation-delay: .45s;
            }
            &:nth-of-type(4) {
                animation-delay: .50s;
            }
        }
    }
    nav {
        position: relative;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 65px;
        font-weight: 400;
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        // height: 100%; 
        cursor: pointer;
        li {
            display: block;
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            position: relative;
            opacity: 0;
            width: 100%;
            cursor: pointer;
            a {
                display: block;
                 text-shadow: 1px 1px #e6624c;
                width: 100%;
                position: relative;
                color: #e6e6e6;
                text-decoration: none;
                overflow: hidden;
                cursor: pointer;
                &:hover {
                    background-color: #ffffff;
                    color: #1e1e1e;
                }
            }
        }
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
h1 {

    padding-left: 10px;
    text-shadow: 1px 1px #e6624c;
    color: #ffffff;
    span {
        text-shadow: 1px 1px #000000;
    color: #e6624c;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.head {
    width: 100%;
    height: 90%;
   

   .image {
    img {
    margin: 100px auto 15px auto;
        width:40%;  
        min-width:250px;
    }
   }

   h2 {
    color: #ffffff;
    font-size: 2em;
    font-style: italic;

   }
   .logo {
    img{
        width: 250px;
    }
   }
   .date {

    h3 {
        color: #ffffff;
        font-size: 1.8em;


    }
    h4{
        color: #ffffff;
        margin-bottom: 100px;
        font-size: 1.3em;
        font-style: italic;
    }
   }
}

section {
    width: 100%;
    height: 90%;
    text-align: center;

    h2 {
        color: #e6624c;
        font-size: 2.6em;
        margin-top: 35px;
        text-shadow: 1px 1px hsla(214,32%,62%,1);

    }
}

// #home {
//   background-color: #ffffff;

//     margin: 0;
//     padding-top: 35px;
//     padding-bottom: 35px;
//         box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.4);

//     .home {
//         width: 80%;
//         margin: 0 auto;
//         text-align: left;
//         p {
//             font-size: 1.2em;
//         }
//         ul li {
//             font-size: 1.2em;
//             margin-bottom: 6px;
//         }
//     }
// }

#about {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
   background-color: #ffffff;
    .about {
        width: 80%;
        margin: 0 auto;
        // text-align: left;
    }
    p {
        font-size: 1.2em;
    }

    .signup {
        a {
            color: #e6624c; 
            font-size: 1.6em; 
            text-decoration: underline;

            &:hover {
                color: #7e99bc;
            }
        }
    }
}

#prizes {
 
 // background-color: #ffffff;

    margin: 0;
    padding-top: 35px;
    margin-bottom: 80px;
    .prizes {
        width: 80%;
        margin: 0 auto;
    h3 {
        font-size: 1.9em;
        text-transform: uppercase;
        color: #e6624c;
         text-shadow: 0.5px 0.5px #fff;
    }
    h2{
         text-shadow: 0.5px 0.5px #fff;
    }
    }
    p {
        font-size: 1em;
        font-style: italic;
        margin: 0;
        color: #ffffff;
    }
}

#schedule {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #ffffff;

    .schedule {
        width: 80%;
        margin: 0 auto;
      
     
      h3 {
        color:#e6624c;
        font-size:1.6em; 

      }
    
    p {
        font-size: 1.2em;
    }
    .row {
        .col-md-4{
        p{
            font-style: 1.8em;
        }
    }
    }}
}

#signup {
   
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    .signup {
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }
    p {
        font-size: 1.2em;
    }
}

#contact {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #ffffff;
    .contact {
        width: 80%;
        margin: 0 auto;

    }
    p {
        font-size: 1.2em;
    }
    a {
        text-decoration: none;
        color: #e6624c;

        &:hover {
            text-decoration: underline;
        }
    }
    i{
        padding: 5px;
    }
    i:hover {
        color: black;
    }
}
