$color-background: hsla(206, 64%, 98%, 0.9);
$color-main: hsla(350, 56%, 92%, 1);
$color-active: #FFF;
$color-link: #FFF;
$button-height: 27px;
$button-width: 35px;
body {
    font-family: 'Ubuntu', sans-serif;
    // background-color: #7e99bc;
}
hr {
  margin: 0;
}
#container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
.imageBreaks {
    height: 300px;
    margin-top: 100px;
}
p {
    font-size: 18px;
}
header {
    display: none !important;

.overlay {

    img {
        width: 300px;
        float: left;
        position: fixed;
        left: 2%;
    }
}

.button_container {
    position: fixed;
    // top: 4%;
    right: 2%;
    top: 35px;
    height: $button-height;
    width: $button-width;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
    &:hover {
        opacity: .7;
    }
    &.active {
        .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: #ffffff;

        }
        .middle {
            opacity: 0;
            background: #ffffff;

        }
        .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: #ffffff;

        }
    }
    span {
        background: #e6e6e6;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s ease;
        cursor: pointer;
        &:nth-of-type(2) {
            top: 11px;
        }
        &:nth-of-type(3) {
            top: 22px;
        }
    }
}

.overlay {
    position: fixed;
    background: #7e99bc;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .45s, visibility .65s, height .65s;
    overflow: hidden;
    &.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
        // transition:ease 1s;
        li {
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;

            &:nth-of-type(2) {
                animation-delay: .4s;
            }
            &:nth-of-type(3) {
                animation-delay: .45s;
            }
            &:nth-of-type(4) {
                animation-delay: .50s;
            }
        }
    }
    nav {
        position: relative;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 65px;
        font-weight: 400;
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
        width: 100%;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        // height: 100%; 
        cursor: pointer;
        li {
            display: block;
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            position: relative;
            opacity: 0;
            width: 100%;
            cursor: pointer;
            a {
                display: block;
                 text-shadow: 1px 1px #e6624c;
                width: 100%;
                position: relative;
                color: #e6e6e6;
                text-decoration: none;
                overflow: hidden;
                cursor: pointer;
                &:hover {
                    background-color: #ffffff;
                    color: #1e1e1e;
                }
            }
        }
    }
}
}


.head {
    height: 100%;

    background-color: #5abddc;
    padding-bottom: 20px;
    img{
    width: 100%;

        
    }

    h2 {
        color: #000000;
        display: inline-block;
        background-color: transparent;
        text-align: left;
        width: 80%;
        position: absolute;
        font-size: 4vw;
        margin-top: 16%;
        left: 3%;
        text-shadow: none;
    }


.navigation {
 width: 100%;

    ul {
        margin-top: -15px;
        padding: 0;
    li {
        list-style-type: none;
        display: inline-block;
        padding: 3px 7px;
        margin-left: 2px;
        margin-right: 2px;
        font-size: 2vw;

        background-color: #86b312;


        a{
        color: #ffffff;
        text-shadow: 1px 1px hsla(194,65%,61%,1);

         &:hover {
            opacity: 0.8;
        }
        }
    }


}


} 



p {
    padding-top:20px;
    font-size: 1.6vw;
    color: #ffffff;
}
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
h1 {

    padding-left: 10px;
    text-shadow: 1px 1px #e6624c;
    color: #ffffff;
    span {
        text-shadow: 1px 1px #ffffff;
    color: #e6624c;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}



    h2 {
        color: #ffffff;
        font-size: 2.6em;
        margin:0;

        background-color: hsla(77,82%,39%,1); 
        width:100%;
        padding: 6px;
        text-shadow: 1.5px 1.5px hsla(194,65%,61%,1);

    }
section {
    width: 100%;
    height: 90%;
    text-align: center;

}



#about {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
   background-color: #ffffff;
    .about {
        width: 80%;
        margin: 0 auto;
        // text-align: left;
    }

    h3 {
        color: hsla(194,65%,61%,1);
        font-size: 1.9em;
            text-shadow: 0.5px 0.5px #000000;

    }
    p {
        font-size: 1.2em;
    }
    ul {
        text-align: left; font-size: 1.2em;
    }

    .signup {
        a {
            color: hsla(194,65%,61%,1); 
            font-size: 1.6em; 
            text-decoration: underline;
            text-shadow: 0.5px 0.5px #000000;

            &:hover {
                color: #7e99bc;
            }
        }
    }
}



#events {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #ffffff;

    .schedule {
        width: 80%;
        margin: 0 auto;
      
     
      h3 {
        color:#e6624c;
        font-size:1.6em; 

      }
    
    p {
        font-size: 1.4em;
    }
    .row {

        .col-md-4{
        p{
            font-style: 1.8em;
        }
    }
    }}

    h3 {
        color: hsla(194,65%,61%,1);
        text-shadow: 0.5px 0.5px #000000;
        font-size: 2em;
    }
}

.row {
    margin: 0px !important;
}
#signup {
   
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    .signup {
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }
    p {
        font-size: 1.2em;
    }
}

#contact {
    margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #ffffff;
    .contact {
        width: 80%;
        margin: 0 auto;

    }
    p {
        font-size: 1.2em;
    }
    a {
        text-decoration: none;
        color: hsla(194,65%,61%,1);

        &:hover {
            text-decoration: underline;
        }
    }
    i{
        padding: 5px;
    }
    i:hover {
        color: black;
    }
}


@media screen and(max-width: 500px) {
    .head {
        .navigation{
        a {
            font-size: 14px;
        }
    }
        p {
            font-size: 14px;
            width: 90%;
            text-align: center;
            margin: 0 auto;
        }
    }
}
